/* GLOBAL */
body{
    font-family: "Times Roman";
    background-color: antiquewhite;
}

h1{
    color: bisque;
    text-align: center;
}
h2{
    color: violet;
    background-color: bisque;
}
p{
    color: black;
}
a .navi{
    color: darkkhaki;
    text-align: center;
    font-size: larger;
}

/* HEADER */
header{
    background-color: darkgreen;
    padding: 50px;
}
 h1{ 
    color: lightgreen;
}
#flag{
    text-decoration: underline;
}